body {
    margin: 0;
    padding: 0;
    font-family: "Muli", sans-serif;
    color: rgb(133, 133, 133);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
